<div class="form-wrapper">
    <h1>Account Creation Form </h1>
    <form [formGroup]="form" (ngSubmit)="log()">
        <div class="form-group"><label for="name">Name:</label>
            <input formControlName="name" type="text" id="name" class="form-control" name="name">
            <div *ngIf="form.get('name')?.pending">Checking name availability...</div>
            <div class="alert alert-danger" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
                <div *ngIf="form.get('name')?.errors?.['required']">Name field cannot be empty.</div>
                <div *ngIf="form.get('name')?.errors?.['minlength']">Name should be at least {{form.get('name')?.errors?.['minlength']?.requiredLength}} chars long.</div>
                <div *ngIf="form.get('name')?.errors?.['cannotContainSpace']">Above field should not include any space.</div>
                <div *ngIf="form.get('name')?.errors?.['serverUniqueName']">Name already exists, please try another name.</div>
                <div *ngIf="form.get('name')?.errors?.['shouldBeLowerCase']">All chars in name should be in lowercase format.</div>
                <div *ngIf="form.get('name')?.errors?.['shouldHaveSpecialChar']">Name must include one special character</div>
            </div>
        </div>
        <div class="form-group"><label for="phone">Phone:</label>
            <input formControlName="phone" type="tel" class="form-control" id="phone" name="phone">
            <div class="alert alert-danger" *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid">
                <div *ngIf="form.get('phone')?.errors?.['required']">Phone number field cannot be empty</div>
                <div *ngIf="form.get('phone')?.errors?.['isValidNumber']">Please enter a valid 10 digit number.</div>
                <div *ngIf="form.get('phone')?.errors?.['cannotContainSpace']">Above field should not include any space.</div>

            </div>
        </div>
        <div class="form-group"><label for="mail">Email:</label>
            <input formControlName="mail" type="text" class="form-control" id="mail" name="mail">
            <div class="alert alert-danger" *ngIf="form.get('mail')?.touched && form.get('mail')?.invalid">
                <div *ngIf="form.get('mail')?.errors?.['required']">Email field cannot be empty</div>
                <div *ngIf="form.get('mail')?.errors?.['isValidEmail']">Please enter a valid email address.</div>
                <div *ngIf="form.get('mail')?.errors?.['cannotContainSpace']">Above field should not include any space.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input formControlName="password" type="password" class="form-control" name="password" id="password">
            <div class="alert alert-danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                <div *ngIf="form.get('password')?.errors?.['required']">Password field cannot be empty</div>
                <div *ngIf="form.get('password')?.errors?.['cannotContainSpace']">Above field should not include any space.</div>
                <div *ngIf="form.get('password')?.errors?.['isValidPassword']">Password should be 8 chars long with at least a symbol, upper and lower case letters and a number</div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!form.valid">Create account</button>
    </form>
</div>